*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container:after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*PRIMA SEZIONE*/

/*ULTIMA SEZIONE*/

.rid{
    display: flex;
}

.flex-sotto{    
    justify-content: center;
    align-items:flex-end;
}

.flex-centro{
    justify-content: center;
    align-items:center;
}


.sfondo{
    background-color: red;
}

.sfondo-scuro{
    background-color: #23272A;
}

.verde-chiaro{
    background-color: #7FFFD4;
}

.cont{
    width: 100%;
    height: 70%;
}

.piccola-sec{
    height: 100px;
    width: 800px;
    background-color: #EE82EE;
    margin: 0 auto;
}

.ros{
    background-color: #FFC0CB;
}

.rettangolini{
    border: 1px dashed black;

}

.flex-opposti{
    justify-content: space-between;
    align-items: center;
}