/*RESET + PREFAZIONE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container:after{
    content: "";
    display: table;
    clear: both;
}


body{
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

/*CLEARFIX E VARIANTI*/
.clearfix{
    display: flex;
}

.flex-centro{
    justify-content: center;
    align-items:center;
}

.flex-destra{
    justify-content: flex-end;
    align-items:center;
}

.flex-sinistra{
    justify-content: flex-start;
    align-items: center;
}

.flex-sotto{    
    justify-content: center;
    align-items:flex-end;
}

.flex-opposti{
    justify-content: space-between;
    align-items: center;
}

.flex-reverse{
    flex-direction: row-reverse;
}

/*CONTENITORI PICCOLE-NORMALI-GRANDI*/
.piccola-sect{
    height: 100px;
    width: 800px;
    margin: 0 auto;
    margin-top: 2px;
}

.little-cont{
    width: 100%;
    height: 60%;
}

.header-cont{
    height: 80px;
    width: 800px;
    margin: 0 auto;
}

.normale-sect{
    height: 300px;
    width: 800px;
    margin: 0 auto;
}

.cont{
    width: 100%;
    height: 60%;
}

.grande-sect{
    width: 800px;
    margin: 0 auto;
}

.big-cont{
    width: 800px;
    height: 100px;
}

/*PRIMA SEZIONE*/
header{
    background-color: #ADD8E6;
    padding-bottom:  5px;
}

.box{
    width: 80%;
    height: 80%;
}

/*sfondi*/
.sfondo-giallino{
    background-color: #DAA520;
}

.sfondo-blu{
    background-color: #00008B;
}

.sfondo{
    background-color: red;
}

.sfondo-scuro{
    background-color: #23272A;
}

.sfondo-verde-chiaro{
    background-color: #7FFFD4;
}

.sfondo-rosa-uno{
    background-color: #EE82EE;
}

.sfondo-rosa-due{
    background-color: #FFC0CB;
    width: 40%;
}

.sfondo-rosa-tre{
    background-color: #F08080;
}

.sfondo-azzurro{
    background-color: #1E90FF;
    width: 60%;
}

.sfondo-grigio{
    background-color: #DCDCDC;
}

.sfondo-verde{
    background-color: #228B22;
}

.sfondo-verde-acqua{
    background-color: #20B2AA;
}

/*rettangoli*/

.rettangolo{
    height: 80%;
    margin: 20px 0;
}

.rettangolone{
    width: 800px;
    height: 500px;
    margin: 30px 0;
}

.contenitore{
    width: 800px;
    height: 300px;
    margin: 30px 0;
}

.colonna-uno{
    width: 30%;
    height: 300px;
}

.colonna-due{
    width: 70%;
}

.colonnine{
    width: 25%;
    height: 300px;
    border: white dashed 1px;
}

.bordo-trat{
    border: 1px dashed black;
}

.pad{
    padding: 5px;
}