*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container:after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:#ADD8E6;
    padding-bottom: 5px;
}

.container-flex{
    display: flex;
    align-items: center;
}

.dimensione{
    width: 800px;
    padding: 2% 0;
    margin: 0 auto;
}

.dimensione-piccola{
    width: 800px;
    padding: 0.5% 0;
    margin: 0 auto;
}

/*PRIMA PARTE DEL HEADER*/
.sezione-gialla{
        background-color: #DAA520;
        border: dashed 2px black;
        padding: 10px;
        width: 100%;
        margin: 10px 0;
    }

    .sinistra{
        justify-content: flex-start;
    }

    .centrato{
        justify-content: center;
    }

        ul{
            list-style-type: none;
        }    

    .destra{
        justify-content: flex-end;
    }

        li{
            margin-right: 5px;
        }

    

/*SECONDA PARTE DEL HEADER*/
.sezione-blu{
        background-color: #00008B;
    }

    .rettangolo-rosa-primo{
        background-color: #EE82EE;
        width: 100%;
        height: 200px;
        margin: 0 100px;
    }


.sfondo-grigio{
    background-color: gainsboro;
}
    .rosa-secondo{
        background-color: #FFC0CB;
        width: 40%;
    }

    .azzurro{
        background-color: #1E90FF;
        width: 60%;
    }

    .rettangolo{
        height: 300px;
        border: dashed black 1px;
    }

    .colonne{
        flex-direction: column;
    }

    .inverso{
        flex-direction: row-reverse;
    }

.rettangolone{
    background-color: #228B22;
    width: 100%;
    height: 500px;
}

.centrato-sopra{
    justify-content: center;
    align-items: flex-start;
    background-color: #DAA520;
}

.sfondo-nero{
    background-color: #23272A;
    margin-bottom: 0.1% ;
}

.rosa-terzo{
    background-color: #F08080;
    width: 30%;
}

.aside{
    width: 70%;
}

.verde-acqua{
    background-color: #20B2AA;
    width: 30%;
    border: white 1px dashed;
}

/*ULTIMA SEZIONE*/

.rid{
    display: flex;
}

.flex-sotto{    
    justify-content: center;
    align-items:flex-end;
}

.flex-centro{
    justify-content: center;
    align-items:center;
}


.sfondo{
    background-color: red;
}

.sfondo-scuro{
    background-color: #23272A;
}

.verde-chiaro{
    background-color: #7FFFD4;
}

.cont{
    width: 100%;
    height: 70%;
}

.piccola-sec{
    height: 100px;
    width: 800px;
    background-color: #EE82EE;
    margin: 0 auto;
}

.ros{
    background-color: #FFC0CB;
}

.rettangolini{
    border: 1px dashed black;

}

.flex-opposti{
    justify-content: space-between;
    align-items: center;
}